<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<!--full width container using container-fluid class-->
<div class="container-fluid my-4">

  <!--rows to divide content of home page, this row is for banner content-->
  <div class="row align-items-center banner-row py-2 mx-2">
    <!--left column of first row for title and logo-->

    <!--right column of first row for bootstrap carousel-->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000"> <!--interval is for how long each slide lasts before switching to the next, this is autoplay-->
        
        <!--Indicators, these are the buttons used to go from one slide to another-->
        <!--One of the buttons is always valued true in order for bootstrap carousel to work-->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!--Slide content, images linked here and adjusted to fit the dimensions needed for this website-->
        <!--Object fit and object position top frame the photos so that we focus on the top of the photos-->
        <!--The height is always set to 40% of the height of the display-->
        <div class="carousel-inner">
          <div class="carousel-item active"> <!--This is set to active when page initially loads-->
            <img src="/Asset/Images/welcome_abc.png" class="d-block w-100" style="object-fit: cover; object-position: top; height: 40vh;" alt="driving_slideshow">
          </div>
          <div class="carousel-item">
            <img src="/Asset/Images/insurance_abc.png" class="d-block w-100" style="object-fit: cover; object-position: top; height: 40vh;" alt="handshake_slideshow">
          </div>
          <div class="carousel-item">
            <img src="/Asset/Images/holiday_abc.png" class="d-block w-100" style="object-fit: cover; object-position: bottom; height: 40vh;" alt="family_slideshow">
          </div>
        </div>

        <!--Controls, photos not currently being shown are set to hidden-->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <br>

  <!--creating next row of content-->
  <div class="row justify-content-center align-items-center text-center start-row py-5">
    <!--putting each aspect of row in their own column for organization and functionality-->
    <div class="col-12">
    <h1>Manage your team's projects from home</h1>
    </div>
    <!--button that takes user to the projects page-->
    <div class="col-12 my-2">
    <a href="/projects" class="btn btn-lg text-white" role="button" style="background-color: #030a3c;">Manage Projects</a>
    </div>
    <div class="col-12">
    <h6 style="color:grey;">Accessible for all ABC employees</h6>
    </div>
  </div>
  <br>
  <br>
  <!--creating another row under for company announcements, row class is centered using justify-content-center and other similar classes-->
  <div class="row justify-content-center align-items-center text-center my-4">
  <div class="col-auto">
    <h1 class="m-0"><%= title %></h1>
  </div>
  <!--using fortawesome icons-->
  <div class="col-auto">
    <i class="fa-solid fa-bullhorn fa-3x"></i>
  </div>

  <!--announcement 1, each announcement put in a container-->
  <div class="container-fluid">
    <div class="row rounded shadow p-4 my-4 mx-5 blurb">
        <div class="col-auto announcement-title fw-bold">
        <h3 class="fw-bolder">Key Card Rotation</h3>
        </div>
        <div class="col-auto announcement-horn">
            <i class="fa-solid fa-bullhorn fa-2x"></i>
        </div>
        <div class="text-white text-start">
        <h5>All ABC employees please by sure to pick up your new key card from the main ABC office. All current key cards will expire by November 30 2025.</h5>
        </div>
    </div>

    <!--announcement 2-->
    <div class="row rounded shadow p-4 my-4 mx-5 blurb">
        <div class="col-auto announcement-title fw-bold">
        <h3 class="fw-bolder">Holiday Overtime</h3>
        </div>
        <div class="col-auto announcement-horn">
            <i class="fa-solid fa-bullhorn fa-2x"></i>
        </div>
        <div class="text-white text-start">
        <h5>Interested in working the holiday for time and a half? Please let your department manager know by the end of this week!</h5>
        </div>
    </div>

    <!--announcement 3-->
    <div class="row rounded shadow p-4 my-4 mx-5 blurb">
        <div class="col-auto announcement-title fw-bold">
        <h3 class="fw-bolder">Reminder</h3>
        </div>
        <div class="col-auto announcement-horn">
            <i class="fa-solid fa-bullhorn fa-2x"></i>
        </div>
        <div class="text-white text-start">
        <h5>All ABC employees please make sure to delete projects that have been completed. This is a shared space, please keep it clean!</h5>
        </div>
    </div>
  </div>
</div>

<!--container below main content for user redirection and contact info-->
<div class="container my-5">
  <div class="row align-items-start">

    <!--applying padding but only to medium or larger screens using pe-md-5-->
    <!--left column-->
    <div class="col-md-6 text-start pe-md-5">
      <h1 class="fw-bold display-4">Manage Your Team With Ease</h1>
      <p class="lead text-muted">Track, view, and organize all ABC projects in one place.</p>

      <!--buttons to direct users-->
      <div class="d-flex gap-3 flex-wrap">
        <a href="/how-to" class="btn btn-primary btn-lg px-4 py-3">
          <i class="fa-solid fa-book fa-lg me-2"></i> Navigate Site
        </a>

        <a href="/help" class="btn btn-primary btn-lg px-4 py-3">
          <i class="fa-solid fa-plus fa-lg me-2"></i> Contact Us
        </a>
      </div>
    </div>

    <!--right column of same row with contact info-->
    <div class="col-md-5 text-start mt-4 mt-md-0">
      <h1 class="fw-bold display-4">Hours of Operation</h1>
      <br>
      <p class="lead text-muted">Phone: 819-XXX-XXXX (8am to 5pm)</p>
      <p class="lead text-muted">Phone (Toll Free): 888-XXX-XXXX (8am to 5pm)</p>
      <p class="lead text-muted">Email: support@abcompany.org (24 hour response)</p>
    </div>

  </div>
</div>

<br>
<br>
<br>
<br>
<%- include ./partials/footer.ejs %>
